<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login_store</servlet-name>
        <servlet-class>com.store.functions.Login_store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_item</servlet-name>
        <servlet-class>com.store.functions.Add_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_sub_item</servlet-name>
        <servlet-class>com.store.functions.Add_sub_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_item</servlet-name>
        <servlet-class>com.store.functions.Delete_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_sub_item</servlet-name>
        <servlet-class>com.store.functions.Delete_sub_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scan_bills</servlet-name>
        <servlet-class>Scan_bills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scan_bills</servlet-name>
        <servlet-class>com.store.functions.scan_bills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_item</servlet-name>
        <servlet-class>com.store.functions.Update_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_subitem</servlet-name>
        <servlet-class>com.store.functions.Update_subitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>maintenance</servlet-name>
        <servlet-class>com.store.functions.maintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Maintenance_item_subitem</servlet-name>
        <servlet-class>com.store.functions.Maintenance_item_subitem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>m</servlet-name>
        <servlet-class>com.store.functions.m</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_store</servlet-name>
        <url-pattern>/Login_store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_item</servlet-name>
        <url-pattern>/Add_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_sub_item</servlet-name>
        <url-pattern>/Add_sub_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_item</servlet-name>
        <url-pattern>/Delete_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_sub_item</servlet-name>
        <url-pattern>/Delete_sub_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scan_bills</servlet-name>
        <url-pattern>/Scan_bills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scan_bills</servlet-name>
        <url-pattern>/scan_bills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_item</servlet-name>
        <url-pattern>/Update_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_subitem</servlet-name>
        <url-pattern>/Update_subitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maintenance</servlet-name>
        <url-pattern>/maintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Maintenance_item_subitem</servlet-name>
        <url-pattern>/Maintenance_item_subitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>m</servlet-name>
        <url-pattern>/m</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
